    <!-- Footer -->
<section>
    <footer>
        <div class="container text-center">
            <p>&copy; @Resources.Localization.Author @DateTime.Now.Year</p>
        </div>
    </footer>
</section>
