<!DOCTYPE html>
<html>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    @{Html.RenderPartial("Intro");}
    @{Html.RenderPartial("Solver");}
    @*@{Html.RenderPartial("About");}
    @{Html.RenderPartial("Download");}
    @{Html.RenderPartial("Contact");}*@
    @{Html.RenderPartial("Helper");}
    @{Html.RenderPartial("Statistics");}
    @{Html.RenderPartial("Footer");}
    <script>
        $(document).ready(function () {
            // Handler for .ready() called.
            $('html, body').animate({
                scrollTop: $('#@ViewBag.Position').offset().top
            },  0);
        });
    </script>
</body>


</html>
