<!DOCTYPE html>
<html>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    @{Html.RenderPartial("Navigation");}
    @{Html.RenderPartial("Intro");}
    @{Html.RenderPartial("Solver");}
    @*@{Html.RenderPartial("About");}
    @{Html.RenderPartial("Download");}
    @{Html.RenderPartial("Contact");}*@
    @{Html.RenderPartial("Helper");}
    @{Html.RenderPartial("Statistics");}
    @{Html.RenderPartial("Footer");}
</body>
</html>
